<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Past Transactions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let transaction of transactions">
    <ion-card-header>{{ transaction.retailer }}</ion-card-header>
    <ion-card-content><span class="date">{{ formatDate(transaction.date) }}</span><span class="amount" [ngClass]="{'negative': transaction.positive == false, 'positive': transaction.positive == true}"><span *ngIf="transaction.positive == true">+</span><span *ngIf="transaction.positive == false">-</span>{{ getBalanceFormatted(transaction.amount) }}</span></ion-card-content>
  </ion-card>
</ion-content>