<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openScanner()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>
      <div class="balance-container">Current balance: <span class="balance">{{ getBalanceFormatted() }}</span></div>
    </ion-card-content>
  </ion-card>

  <ion-card class="transaction">
    <button ion-button full class="transaction" (click)="newTransaction()" *ngIf="!transaction_open">New Transaction</button>
    <ion-card-content *ngIf="transaction_open">
      <div class="qr-container">
        <qr-code [value]="getQRCodeUrl()" [size]="200"></qr-code>
      </div>
      <input type="text" class="floating" [(ngModel)]="max_amount" placeholder="Max amount">
      <button ion-button block (click)="finishTransaction()">Done</button>
    </ion-card-content>
  </ion-card>
</ion-content>